/* 共通部分のapp.blade.php用のcss */
.header {
    background: #fff;
    border: solid #dcdcdc;
}


.header__inner {
    margin: 0 auto;
    max-width: 1230px;
    text-align: center;
    padding: 15px 30px;
}


.header__logo {
    color: rosybrown;
    text-decoration: none;
    font-size: 40px;
}