.header {
    background: #fff;
    border: solid whitesmoke;
}

.header__inner {
    margin: 0 auto;
    max-width: 1230px;
    text-align: center;
    padding: 15px 30px;
}

.header__logo {
    color: rgb(126, 111, 100);
    text-decoration: none;
    font-size: 40px;
}

.login__button {
    margin-top: 10px;
    margin-right: 30px;
}

.login__button-submit {
    padding: 5px;
    width: 20px;
    border-radius: 3px;
    border: solid seashell;
    background-color: whitesmoke;
    color: seashell;
}

.register-form__content {
    margin: 0 auto;
    max-width: 1230px;
    background-color: seashell;
}

.register-form__heading {
    text-align: center;
    color: rgb(126, 111, 100);
    font-size: 30px;
    font-weight: lighter;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    border: solid whitesmoke;
}

.form__group {
    margin-bottom: 10px;
}

.form__label--item {
    color: rgb(126, 111, 100);
    text-align: left;
}

.form__group--content {
    margin-bottom: 20px;
}

.form__input--text input {
    padding: 10px;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 3px;
    color: grey;
    border: none;
}

.form__error {
    height: 20px;
    color: red;
    text-align: left;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 100px;
    border-radius: 3px;
    background-color: rgb(126, 111, 100);
    color: #fff;
}